.login-form {
	border: 1px solid #cccccc;
	border-radius: var(--rounded-md);
	padding: 0 var(--spacing-md);
}

.center {
	margin: var(--spacing-md) 0;
	text-align: center;
}

.inputDim {
	border: var(--border-sm);
	border-radius: var(--rounded-xs);
	/* height: 79px; */
	margin-bottom: var(--spacing-sm);
	width: 100%;

	& p {
		color: var(--color-helper);
		font-size: var(--text-xs);
		font-weight: var(--weight-regular);
	}
}

.inputDim label {
	font-weight: var(--weight-semibold);
	height: 29px;
	margin-bottom: var(--spacing-xs);
}

.inputDim input {
	background-color: #e5e5e5;
	border: solid 1px #cccccc;
	border-radius: var(--rounded-xs);
	color: #999999;
	height: 42px;
	padding: var(--spacing-xs);
	width: 100%;
}

.inputDim input:focus {
    border-color: var(--color-error); 
    outline: none; 
}

.inputDimRadio {
	color: #000000;
	font-size: var(--text-sm);
	font-weight: var(--weight-semibold);
	height: 26px;
	margin-bottom: var(--spacing-xs);
}

form a .forgot-password { text-decoration: solid underline 1px !important; }

.block { display: block; }

.underline { text-decoration: underline; /* Just in case */ }

.tb-margin {
	margin: 1rem 0;

	& p { text-align: center; }
}

.line {
	background-color: #cccccc; /* Line color */
	height: 1px;
	width: 100%;
}

.padding-left-2px {
	display: inline-block;
	margin-left: 8px;
}

#email-error {
	display: none;
	outline: solid red thin;
}

.login-form:has(#email-input:user-invalid) #email-error { display: block; }

.red { color: var(--color-error); }

.text-size { font-size: var(--text-xm); }

.password-meter {
	display: flex;
	gap: 0.5rem;
}

.password-meter-level {
	background-color: var(--color-card);
	height: 0.5rem;
	width: 100%;
}

.suggestion {
	background-color: var(--color-card);
	border-radius: var(--rounded-md);
	font-size: var(--text-xm);
	margin: 0.5rem 0;
	padding: 0.5rem;
	text-align: center;
}
