@layer components {
	.text-input-component-container {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-xs);

		.input-label-container {
			align-items: center;
			display: flex;
			justify-content: space-between;

			& > label {
				color: var(--color-foreground);
				display: flex;
				flex-grow: 1;
				font-size: var(--text-md);
				font-weight: var(--weight-semibold);
				justify-content: space-between;
			}
		}

		& > input {
			font-size: var(--text-xs);
			background-color: var(--color-button);
			border: var(--border);
			border-radius: var(--rounded-xs);
			gap: var(--spacing-xs);
			height: 42px;
			padding: var(--spacing-xs);
			width: 100%;

			&[data-error='true'] { border-color: var(--color-error); }

			&[aria-disabled='true'] {
				background-color: var(--color-background);
				cursor: not-allowed;
				pointer-events: none;
			}
		}

		&:has(input:required) > span.input-label-container > label::after {
			color: var(--color-accent);
			content: 'Required' / '';
			font-size: 0.75rem;
			font-weight: var(--weight-semibold);
			letter-spacing: 0;
			text-transform: uppercase;
		}
	}

	.text-input-component-container:has(input[aria-disabled]) label { color: var(--color-helper); }
}

/* .input-block input {
d
d
	color: var(--color-gray-900);

	font-weight: var(--weight-regular);
	height: 42px;
	padding: var(--spacing-xs);
	width: 100%;
}

.input-block input:focus {
	border-color: var(--color-error);
	outline: none;
}

.input-block input.error {
	background-color: var(--color-gray-50);
	border-color: var(--color-error);
}

.input-block input:disabled {
	background-color: #e5e5e5;
	color: var(--color-gray-500);
	cursor: not-allowed;
} */
