.app {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-items: center;
}

.signInPage {
	align-items: center;
	display: flex;
	flex-direction: column;
	/* height: 575px; */
	justify-content: center;
	max-width: 400px;
}
