.app {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-items: center;
}

.Sign-in-page {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 400px;
	height: 575px;
}
