/* Grid for the outer page structure */
.grid-container {
	display: grid;
	grid-template-columns: 306px 1fr;
	grid-template-rows: auto 1fr auto;
	gap: 15px;
	max-width: 1440px;
	margin: 0 auto;
	height: 90vh;

	& header { grid-column: 1 / -1; }

	& footer { grid-column: 1 / -1; }
}

/* Header, nav, main are positioned by the grid */
header { border: 1px solid red; }
nav { border: 1px solid red; }
main { border: 1px solid red; }
