/* Grid for the outer page structure */
.grid-container {
	display: grid;
	grid-template-columns: 306px 1fr;
	grid-template-rows: auto 1fr auto;
	max-width: 1280px;
	margin: 0 auto;
	height: 1597px;

	& header { grid-column: 1 / -1; }

	& main {
		margin: 10px 15px;
		height: 100%;
	}
}

.main-header {
	display: flex;
	justify-content: space-between;
	border-bottom: #000000 solid 1px;
	align-items: center;
	height: 60px;

	& .torontojs-logo {
		height: 32px;
		width: 32px;
		margin-left: 20px;
	}
}

.inner-header {
	margin-right: 20px;
	width: 80px;
	height: 32px;
	display: flex;
	justify-content: space-between;
}

.sidebar-left {
	width: 280px;
	height: 660px;
	padding: var(--spacing-md) var(--spacing-sm);

	& .sidebar-left-container { width: 100%; }

	& a {
		all: unset;
		display: flex;
		align-items: center;
		width: 248px;
		height: 50px;
		cursor: pointer;
		margin-bottom: 8px;
	}

	& a img {
		height: 24px;
		width: 24px;
		margin: 15px;
	}

	& a span {
		font-size: var(--text-xs);
		color: #333333;
	}

	& a:nth-of-type(2) {
		background-color: #e51429;
		border-radius: var(--rounded-sm);
	}

	& a:nth-of-type(2) span { color: #ffffff; }
}

.profile-header-container {
	margin-bottom: 25px;
	max-width: 920px;
	height: 159px;
	border: var(--border);
	border-radius: var(--rounded-md);
	border-color: rgba(140, 140, 140, 0.2);
	padding: 20px 20px;
}
.profile-header {
	position: relative;
	display: flex;
	width: 100%;

	& h2, p {
		margin: 0;
		padding: 0;
	}

	& p { color: var(--color-gray-600); }

	& .avatar {
		height: 80px;
		width: 80px;
		border-radius: 50%;
		background-color: red;
		object-fit: cover;
		display: flex;
		align-self: self-start;
	}

	& .contact-info { color: var(--color-gray-600); }

	& .user-bio {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 10px;
		margin-left: 50px;
	}

	& .contact-info {
		display: flex;
		gap: var(--spacing-md);
	}

	& .profile-email { display: flex; }

	& .profile-email img { margin-right: 15px; }

	& .profile-location { display: flex; }

	& button {
		all: unset;
		position: absolute;
		top: 0;
		right: 0;
	}

	& .profile-location img {
		display: flex;
		align-self: center;
		height: 24px;
		width: 24px;
		margin-right: 10px;
	}
	& span:nth-of-type(2) { margin-left: 20px; }
}

.sections-container {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.about {
	display: flex;
	flex-direction: column;
	max-width: 920px;
	padding: 24px;
	border: var(--border);
	border-radius: var(--rounded-md);
	border-color: rgba(140, 140, 140, 0.2);
	gap: 10px;
	line-height: 160%;

	& h3 {
		font-size: var(--text-lg);
		line-height: 25px;
		margin: 0;
		align-self: flex-start;
		font-weight: var(--weight-regular);
	}

	& .about-header-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	& p {
		color: #999999;
		font-size: var(--text-xs);
	}

	& button {
		all: unset;
		color: var(--color-accent);
		padding: 8px;
	}

	& div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.about-description-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: left;
	}

	.about-description {
		font-weight: var(--weight-regular);
		font-size: var(--text-base);
		color: var(--color-gray-900);
	}
}
.skills {
	display: flex;
	flex-direction: column;
	max-width: 920px;
	height: 310px;
	border: var(--border);
	border-radius: var(--rounded-md);
	border-color: rgba(140, 140, 140, 0.2);

	& h2 {
		line-height: 25px;
		padding: 24px;
		margin: 0;
	}

	& p {
		color: #999999;
		height: 22px;
		font-size: var(--text-xs);
	}

	& button {
		all: unset;
		color: var(--color-accent);
		padding: 8px;
	}

	& div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

/* .socials-links-container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	max-width: 920px;
	min-height: 210px;
	border: var(--border);
	border-radius: var(--rounded-md);
	border-color: rgba(140, 140, 140, 0.2);
	justify-content: space-between;

	& .social-links-header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	& .social-links-header h2 {
		all: unset;
		font-size: var(--text-lg);
		font-weight: var(--weight-regular);
		line-height: 25px;
		margin: 0;
		padding: 0;
	}

	& .social-links-header button {
		all: unset;
		cursor: pointer;
	}

	& .social-links-header button img {
		height: 24px;
		width: 24px;
	}

	& .social-links-inner-container ul {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

	& .social-links-inner-container li { all: unset; }
} */

.social-links {
	position: relative;
	& .social-links-container {
		position: relative;
		padding: 20px;
		display: flex;
		flex-direction: column;
		max-width: 920px;
		min-height: 210px;
		border: var(--border);
		border-radius: var(--rounded-md);
		border-color: rgba(140, 140, 140, 0.2);
		justify-content: space-between;

		& .social-links-header {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}

		& .social-links-header h2 {
			all: unset;
			font-size: var(--text-lg);
			font-weight: var(--weight-regular);
			line-height: 25px;
			margin: 0;
			padding: 0;
		}

		& .social-links-header button {
			all: unset;
			cursor: pointer;
		}

		& .social-links-header button img {
			height: 24px;
			width: 24px;
		}

		& .social-links-inner-container ul {
			display: flex;
			flex-direction: row;
			gap: 20px;
		}

		& .social-links-inner-container li { all: unset; }
	}
}
.teams-container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	max-width: 920px;
	min-height: 210px;
	border: var(--border);
	border-radius: var(--rounded-md);
	border-color: rgba(140, 140, 140, 0.2);
	justify-content: space-between;

	& .teams-header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	& .teams-header h2 {
		line-height: 25px;
		margin: 0;
		padding: 0;
	}

	& .teams-header button {
		all: unset;
		cursor: pointer;
	}

	& .teams-header button img {
		height: 24px;
		width: 24px;
	}

	& .teams-inner-container {
		display: flex;
		flex-direction: column;
	}

	& .teams-inner-container li { all: unset; }
	& ul, li { all: unset; }
}
@media screen and (max-width: 640px) {
	.grid-container { grid-template-columns: 1fr; }
	.sidebar-left { display: none; }
	.grid-container { max-width: 640px; }
}
