#check-steps-wrapper { width: 100%; }

#check-steps {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-lg);
	margin-inline: auto;
	max-width: min(100%, 400px);
	padding: var(--spacing-lg) var(--spacing-md);

	@media screen and (min-width: 640px) { padding: var(--spacing-lg) 0; }

	.intro {
		font-weight: var(--weight-regular);
		text-align: center;
	}

	.cards {
		display: grid;
		gap: var(--spacing-sm);
		grid-template-columns: 1fr 1fr;
		margin: 0;
		padding: 0;
	}

	.card {
		align-items: center;
		border: var(--border);
		border-radius: var(--rounded-lg);
		border-width: var(--border-sm);
		display: flex;
		flex-direction: column;
		font-weight: var(--weight-bold);
		gap: var(--spacing-xs);
		justify-content: start;
		padding: var(--spacing-sm);
		text-align: center;
	}
}
