@layer components {
	p { text-align: center; }

	em {
		font-style: italic;
		font-weight: var(--weight-bold);
	}

	.component-container {
		border: 0.125rem dashed;
		border-radius: 0.313rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin: auto;
		padding: 1rem;
		width: 400px;

		h3 {
			border-bottom: 0.063rem dashed grey;
			font-size: 1.1rem !important;
			font-style: italic;
			font-weight: 500;
			margin: 1.25rem 0 0 0;
			padding: 0;
		}
	}

	.example-close-button {
		background-color: var(--color-white);
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 17 17' fill='none'%3E%3Cpath d='M12.6699 4.5L4.66992 12.5' stroke='%23ED342F' strokeLinecap='round' strokeLinejoin='round'/%3E%3Cpath d='M4.66992 4.5L12.6699 12.5' stroke='%23ED342F' strokeLinecap='round' strokeLinejoin='round'/%3E%3C/svg%3E");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		border: solid var(--border-base) var(--color-accent);
		border-radius: var(--rounded-base);
		content: '';
		cursor: pointer;
		height: 1rem;
		margin-left: auto;
		width: 1rem;
	}
}
