.login-form {
	border: 1px solid #cccccc;
	border-radius: var(--rounded-md);
	padding: var(--spacing-sm);
}

.center {
	margin-bottom: var(--spacing-md);
	text-align: center;
}

.inputDim {
	height: 79px;
	width: 100%;
	/* gap: var(--spacing-sm) */
}

.inputDim label {
	font-weight: var(--weight-semibold);
	margin-bottom: var(--spacing-xs);
}

.block { display: block; }
