.login-form {
	border: 1px solid #cccccc;
	border-radius: var(--rounded-md);
	padding: var(--spacing-sm);
}

.center {
	margin: var(--spacing-md) 0;
	text-align: center;
}

.inputDim {
	border: var(--border-sm);
	border-radius: var(--rounded-xs);
	height: 79px;
	margin-bottom: var(--spacing-sm);
	width: 100%;
}

.inputDim label {
	font-weight: var(--weight-semibold);
	height: 29px;
	margin-bottom: var(--spacing-xs);
}

.inputDim input {
	background-color: #e5e5e5;
	border: solid 1px #cccccc;
	border-radius: var(--rounded-xs);
	color: #cccccc;
	height: 42px;
	padding: var(--spacing-xs);
	width: 100%;
}

.inputDimRadio {
	color: #000000;
	font-size: var(--text-sm);
	font-weight: var(--weight-semibold);
	height: 26px;
	margin-bottom: var(--spacing-xs);
}

.forgot-password {
	border: #cccccc 1px;
	text-decoration: solid underline 1px;
}

.block { display: block; }
