.reusable-social-icon {
	width: 149px;
	height: 80px;

	border: var(--border);
	border-radius: var(--rounded-md);
	padding: 15px22;
	border-color: #c2c2c2;

	& a {
		all: unset;
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 0 10px;
	}

	& img {
		height: 36px;
		width: 36px;
	}

	p {
		all: unset;
		margin-left: 10px;
		font-size: var(--text-md);
		line-height: 160%;
		font-weight: 600;
	}
	.circle {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		height: 60px;
		width: 60px;
		background: #fce4ec;
		gap: 20px;
	}
}
