.reusable-team-icon {
	display: flex;
	flex-direction: column;
	width: 309px;
	min-height: 285px;
	border: var(--border);
	border-radius: var(--rounded-md);
	margin: 20px 0;
	padding: 20px;
	gap: 20px;

	& .team-container { display: flex; }

	& .circle {
		display: flex;
		align-self: center;
	}

	& .team-inner-container {
		display: flex;
		flex-direction: column;
		margin-left: 20px;
	}

	& .team-inner-container p span { font-size: var(--text-xs); }
	& p { all: unset; }

	& .team-inner-container img {
		height: 16px;
		width: 16px;
		align-self: center;
	}

	& .team-inner-container .team-name {
		font-size: var(--text-md);
		font-weight: var(--weight-semibold);
	}

	& .team-inner-container span {
		color: #696b7f;
		margin-left: 10px;
	}

	& .team-container .team-inner-container p:last-of-type { display: flex; }

	& .team-description {
		font-size: var(--text-xs);
		color: #000000;
	}

	& .team-role {
		background-color: #fee2e2;
		border-radius: 20px;
		width: 71px;
		height: 22px;
		font-size: var(--text-xs);
		color: red;
		padding: 6px 16px;
		display: flex;
		align-items: center;
	}
}
