p, h2 {
	padding: 0;
	margin: 0;
}

h2 {
	font-size: calc(20rem / 16);
	.info & { color: var(--color-blue-700); }
	.error & { color: var(--color-red-700); }
	.success & { color: var(--color-green-700); }
	.warning & { color: var(--color-yellow-700); }
}

p { font-size: calc(18rem / 16); }

.wrapper {
	--padding: 16px;
	border-radius: 16px;
	width: 352px;
	height: 116px;
	padding: var(--padding);
	position: relative;
	border: 2px solid;
}

.info {
	.wrapper& {
		border-color: var(--color-blue-500);
		background-color: var(--color-blue-50);
	}
}

.error {
	.wrapper& {
		border-color: var(--color-red-500);
		background-color: var(--color-red-50);
	}
}

.success {
	.wrapper& {
		border-color: var(--color-green-500);
		background-color: var(--color-green-50);
	}
}

.warning {
	.wrapper& {
		border-color: var(--color-yellow-500);
		background-color: var(--color-yellow-50);
	}
}

.icon {
	.wrapper & {
		position: absolute;
		top: var(--padding);
		right: var(--padding);
	}
}

button {
	all: unset;
	display: flex;
	align-items: center;
	gap: 8px;
	border-top: 1px solid;

	&:focus { outline: auto; }

	&:hover { cursor: pointer; }

	.info & { border-top-color: var(--color-blue-500); }
	.error & { border-top-color: var(--color-red-500); }
	.success & { border-top-color: var(--color-green-500); }
	.warning & { border-top-color: var(--color-yellow-500); }
}
