@layer components {
	.helper-container {
		align-items: center;
		display: flex;
		gap: var(--spacing-xs);
		height: auto;
		width: 100%;
		justify-content: center;

		&[data-variant='success'] { span { color: var(--color-success); } }

		&[data-variant='error'] { span { color: var(--color-error); } }

		&[data-variant='info'] { span { color: var(--color-info); } }

		&[data-variant='warning'] { span { color: var(--color-warning); } }

		&[data-variant='default'] { span { color: var(--color-helper); } }

		.helper-icon {
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
			height: 1rem;
			width: 1rem;
		}

		.helper-content {
			font-size: 0.875rem;
			font-style: normal;
			font-weight: var(--weight-regular);
		}
	}
}
