header {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: var(--spacing-lg) 0;
	min-height: 246px;
	text-align: center;
	picture { margin-bottom: 40px; }
}
