#root { height: inherit; }

.app {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: inherit;
	justify-items: center;
}

.page {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: inherit;
	justify-content: center;
	width: clamp(20rem, 90vw, 25rem);
}
