/* general-reset-layer.css */
@layer reset {
	/* --- General Reset and Box-Sizing --- */
	/* Ensure consistent box-sizing across all elements, and set all elements to inherit the patern's font */
	*, *::before, *::after {
		box-sizing: border-box;
		font-family: inherit;
	}

	/* --- Remove Default Styling for Lists --- */
	nav :is(ul, ol) { list-style: none; }

	/* --- Remove Default Button Styles --- */
	button { cursor: pointer; }

	/* --- Ensure Images are Responsive --- */
	img {
		display: block; /* Removes inline-block spacing issues */
		height: auto; /* Ensures the aspect ratio is maintained */
		max-width: 100%; /* Makes images responsive to their container width */
	}

	/* --- Set Full Height for HTML and Body --- */
	html, body { height: 100%; }

	/* --- Spacing --- */
	body {
		margin: 0;
		padding: 0;
	}
}
