@layer utilities {
	.font-size-sx { font-size: var(--text-xs); }

	.line {
		background-color: #cccccc;
		display: block;
		height: 1px;
		width: 100%;
	}

	.underline { text-decoration: underline; }

	.sr-only {
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: 0;
		opacity: 0;
		overflow: hidden;
		padding: 0;
		pointer-events: none;
		position: absolute;
		width: 1px;
		z-index: -1;
	}
}
