/* TODO: Remove this duplicate base style */
.check-email-page {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-lg);
	margin-inline: auto;
	max-width: min(100%, 400px);
	padding: var(--spacing-lg) var(--spacing-md);

	@media screen and (min-width: 640px) { padding: var(--spacing-lg) 0; }
}

.check-email-main {
	align-items: center;
	border: var(--border);
	border-radius: var(--rounded-md);
	display: flex;
	flex-direction: column;
	font-size: var(--text-md);
	gap: var(--spacing-md);
	justify-content: center;
	padding: var(--spacing-sm);
	text-align: center;

	hr {
		border-bottom: none;
		border-top: var(--border);
		width: 100%;
	}
}

/* When showing the 'New activation link sent' message */
.link-sent {
	opacity: 0.5;
	text-decoration: underline;
}
