.parent {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-xs);
	border: 0.125rem dashed;
	border-radius: 0.25rem;
	margin: 3rem;
	max-width: 15rem;
	padding: 1rem;

	fieldset { margin: 1rem auto; }
}
